<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>765835263695-g1e27585pls7t5uqemq1berccl92j17l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.765835263695-g1e27585pls7t5uqemq1berccl92j17l</string>
	<key>API_KEY</key>
	<string>AIzaSyCxJlpFHff__f6aNBsx-ZjawpAQaN1vxSk</string>
	<key>GCM_SENDER_ID</key>
	<string>765835263695</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.rosehulman.fisherds.MovieQuotes</string>
	<key>PROJECT_ID</key>
	<string>fisherds-movie-quotes-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>fisherds-movie-quotes-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:765835263695:ios:ed02c499645b1887a681ba</string>
</dict>
</plist>